<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Dashboard-gerente</title>

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="crear-tratamiento.component.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Logo -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/dashboard-gerente">

                <div class="sidebar-brand-icon">
                    <i class="fa-solid fa-glasses"></i>
                </div>
                <div class="sidebar-brand-text mx-1">Óptica Nuevo Mundo</div>
            </a>

            <!-- Divisor -->
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Heading Trabajador-->
            <div class="sidebar-heading">
                Trabajador
            </div>

            <!-- Gestionar Trabajador -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/trabajador" data-toggle="collapse">
                    <i class="fa-solid fa-briefcase"></i>
                    <span> Gestionar Trabajador</span>
                </a>
            </li>

            <!-- Gestionar Roles -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/rol" data-toggle="collapse">
                    <i class="fa-solid fa-sheet-plastic"></i>
                    <span> Gestionar Roles</span>
                </a>
            </li>
            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Heading Lunas -->
            <div class="sidebar-heading">
                Lunas
            </div>

            <!-- Gestionar Tipo Luna -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/tipoLuna" data-toggle="collapse">
                    <i class="fa-solid fa-eye"></i>
                    <span> Tipo de Lunas</span>
                </a>
            </li>

            <!-- Gestionar Material Luna -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/luna" data-toggle="collapse">
                    <i class="fa-solid fa-eye"></i>
                    <span> Material de Lunas</span>
                </a>
            </li>

            <!-- Gestionar Tratamientos -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/tratamiento" data-toggle="collapse">
                    <i class="fa-solid fa-notes-medical"></i>
                    <span> Tratamientos</span>
                </a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Heading Producto-->
            <div class="sidebar-heading">
                Producto
            </div>

            <!-- Gestionar tipoProducto -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/tipoProducto" data-toggle="collapse">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span> Tipo de Producto</span>
                </a>
            </li>

            <!-- Gestionar Producto -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/gestionar-producto" data-toggle="collapse">
                    <i class="fa-solid fa-box-archive"></i>
                    <span> Gestionar Producto</span>
                </a>
            </li>

            <!-- Gestionar Marca -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/marca" data-toggle="collapse">
                    <i class="fa-regular fa-copyright"></i>
                    <span> Marcas</span>
                </a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Heading Inventario -->
            <div class="sidebar-heading">
                Inventario
            </div>

            <!-- Gestionar Proveedor -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/proveedor" data-toggle="collapse">
                    <i class="fa-solid fa-truck-field"></i>
                    <span> Gestionar Proveedor</span>
                </a>
            </li>

            <!-- Ingreso de Productos -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/ingresos" data-toggle="collapse">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    <span> Ingreso de Productos </span>
                </a>
            </li>

            <!-- Visualizar Stock Producto (kárdex) -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/almacen" data-toggle="collapse">
                    <i class="fa-solid fa-box"></i>
                    <span> Visualizar Stock </span>
                </a>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <span class="span-text mx-3">{{titulo | uppercase}}</span>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item" *ngIf="isLoggedIn" (click)="onClickLogout()">
                            <a class="nav-link" href="">
                                <i class="fa-solid fa-right-from-bracket" style="color: #ff000d;"></i>
                            </a>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Content  -->
                <div class="container mt-5 mx-4 col-lg-4">
                    <form [formGroup]="tratamientoForm" (ngSubmit)="agregarTratamiento()">
                        <div class="mb-3 d-flex align-items-end">
                            <div style="flex: 1;">
                                <label class="form-label label-text">Nombre</label>
                                <input type="text" formControlName="nombre" class="form-control" style="width: 350px;"
                                    placeholder="Escriba el nombre del tratamiento...">
                                <div class="text-danger"
                                    *ngIf="tratamientoForm.get('nombre')?.hasError('required') && tratamientoForm.get('nombre')?.touched">
                                    <span>El nombre del tratamiento <strong>es obligatorio</strong></span>
                                </div>

                                <label class="form-label label-text" style="margin-top: 20px;">Precio</label>
                                <input type="text" formControlName="precio" class="form-control" style="width: 350px;"
                                    placeholder="Escriba el precio del tratamiento...">
                                <div class="text-danger"
                                    *ngIf="tratamientoForm.get('precio')?.hasError('required') && tratamientoForm.get('precio')?.touched">
                                    <span>El precio del tratamiento <strong>es obligatorio</strong></span>
                                </div>                         
                            </div>
                            <button class="btn btn-success float-end" style="margin-left: 10px;">Aceptar</button>
                        </div>
                        <div class="class mb 3">
                            <button routerLink="/dashboard-gerente/tratamiento/" style="margin-top: 20px;"
                                class="btn btn-secondary flat-start">Volver</button>
                        </div>
                    </form>
                </div>
                <!-- End of Content -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Óptica Nuevo Mundo &copy; 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>
