<div class="split left">
    <div class="centered">
    </div>
</div>

<div class="split right">
    <div class="centered">
        <h2>Iniciar Sesión</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
            <!--  -->
            <div class="form-group">
                <label for="email">
                    <i class="fas fa-envelope"></i> Correo electrónico
                </label>
                <input type="email" id="email" class="form-control" placeholder="Correo electrónico" formControlName="email"/>
            </div>
            <div class="form-group">
                <label for="password">
                    <i class="fas fa-lock"></i> Contraseña
                </label>
                <input type="password" id="password" class="form-control" placeholder="Contraseña" formControlName="password"/>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
        <p>No tienes una cuenta? <a href="/registro">Regístrate</a></p>
        <!-- <div *ngIf="errorStatus" >
            <p>
                {{errorMsg}}
            </p>
        </div> -->
    </div>
</div>