<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Dashboard-gerente</title>

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="compras.component.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Logo -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
                routerLink="/dashboard-trabajador">
                <div class="sidebar-brand-icon">
                    <i class="fa-solid fa-glasses"></i>
                </div>
                <div class="sidebar-brand-text mx-1">Óptica Nuevo Mundo</div>
            </a>

            <!-- Divisor -->
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Heading Trabajador-->
            <div class="sidebar-heading">
                Trabajador
            </div>

            <!-- Gestionar Trabajador -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/trabajador" data-toggle="collapse">
                    <i class="fa-solid fa-briefcase"></i>
                    <span> Gestionar Trabajador</span>
                </a>
            </li>

            <!-- Gestionar Roles -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/rol" data-toggle="collapse">
                    <i class="fa-solid fa-sheet-plastic"></i>
                    <span> Gestionar Roles</span>
                </a>
            </li>
            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Heading Lunas -->
            <div class="sidebar-heading">
                Lunas
            </div>

            <!-- Gestionar Tipo Luna -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/tipoLuna" data-toggle="collapse">
                    <i class="fa-solid fa-eye"></i>
                    <span> Tipo de Lunas</span>
                </a>
            </li>

            <!-- Gestionar Material Luna -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/luna" data-toggle="collapse">
                    <i class="fa-solid fa-eye"></i>
                    <span> Material de Lunas</span>
                </a>
            </li>

            <!-- Gestionar Tratamientos -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/tratamiento" data-toggle="collapse">
                    <i class="fa-solid fa-notes-medical"></i>
                    <span> Tratamientos</span>
                </a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Heading Producto-->
            <div class="sidebar-heading">
                Producto
            </div>

            <!-- Gestionar tipoProducto -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/tipoProducto" data-toggle="collapse">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span> Tipo de Producto</span>
                </a>
            </li>

            <!-- Gestionar Producto -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/gestionar-producto" data-toggle="collapse">
                    <i class="fa-solid fa-box-archive"></i>
                    <span> Gestionar Producto</span>
                </a>
            </li>

            <!-- Gestionar Marca -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/marca" data-toggle="collapse">
                    <i class="fa-regular fa-copyright"></i>
                    <span> Marcas</span>
                </a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Heading Inventario -->
            <div class="sidebar-heading">
                Inventario
            </div>

            <!-- Gestionar Proveedor -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/proveedor" data-toggle="collapse">
                    <i class="fa-solid fa-truck-field"></i>
                    <span> Gestionar Proveedor</span>
                </a>
            </li>

            <!-- Ingreso de Productos -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/ingresos" data-toggle="collapse">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    <span> Ingreso de Productos </span>
                </a>
            </li>

            <!-- Visualizar Stock Producto (kárdex) -->
            <li class="nav-item">
                <a class="nav-link collapsed" routerLink="/dashboard-gerente/almacen" data-toggle="collapse">
                    <i class="fa-solid fa-box"></i>
                    <span> Visualizar Stock </span>
                </a>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <span class="span-text mx-3">GESTIONAR INGRESOS</span>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item" *ngIf="isLoggedIn" (click)="onClickLogout()">
                            <a class="nav-link" href="">
                                <i class="fa-solid fa-right-from-bracket" style="color: #ff000d;"></i>
                            </a>
                        </li>

                    </ul>

                </nav>

                <!-- End of Topbar -->

                <!-- Table -->
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-lg-11 offser-lg-2">
                            <input type="text" class="form-control" style="width: 350px;" [(ngModel)]="terminoBusqueda"
                                (keyup)="obtenerIngresos()" placeholder="Buscar órden de compra...">
                            <button class="btn btn-success float-end"
                                routerLink="/dashboard-gerente/ingresos/registrar-ingreso">
                                Agregar
                                <i class="fa-solid fa-plus"></i>
                            </button>
                            <table *ngIf="listIngreso.length > 0" class="table table-striped mx-5 mt-5 text-center">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Proveedor</th>
                                        <th>Contacto</th>
                                        <th>Fecha de Registro</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ingreso of listIngreso">
                                        <td>{{ ingreso.ingreso.codigo }}</td>
                                        <td>{{ ingreso.ingreso.idProveedor.nombre }}</td>
                                        <td>{{ ingreso.ingreso.idProveedor.nombreContacto }} {{
                                            ingreso.ingreso.idProveedor.apellidoContacto }}</td>
                                        <td>{{ ingreso.ingreso.fechaCreacion | date:'dd-MM-yyyy'}}</td>
                                        <td>{{ ingreso.ingreso.estado }}</td>
                                        <td>
                                            <i *ngIf="ingreso.ingreso.estado === 'Pendiente'" data-bs-toggle="modal"
                                                data-bs-target="#confirmacionModal"
                                                (click)="prepararCambioEstado(ingreso.ingreso._id, 'Recibido', confirmacionModal)"
                                                class="faw fas fa-solid fa-check text-success"></i>

                                            <!-- Modal de Confirmación -->
                                            <ng-template #confirmacionModal let-modal>
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirmar Cambio de Estado</h4>
                                                    <button type="button" class="btn-close" aria-label="Close"
                                                        (click)="modal.dismiss('Cross click')"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="label-text">{{ mensajeConfirmacion }}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success"
                                                        (click)="confirmarCambioEstado()">Confirmar</button>
                                                </div>
                                            </ng-template>

                                            <i [routerLink]="['/dashboard-gerente/ingresos/detalle-ingreso/', ingreso.ingreso._id]"
                                                class="faw fa fa-eye text-primary"></i>

                                            <i (click)="descargarContrato(ingreso.ingreso._id, ingreso.ingreso.codigo, ingreso.ingreso.idProveedor.nombre, ingreso.ingreso.estado)"
                                                class="faw fa fa-file-pdf text-danger"
                                                style="cursor: pointer; margin-left: 10px;"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h5 style="text-align: start; margin-top: 10px;" *ngIf="listIngreso.length == 0">No hay
                                órdenes de compra para mostrar</h5>
                        </div>
                    </div>
                </div>
                <!-- End of Table -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Óptica Nuevo Mundo &copy; 2024</span>
                    </div>
                </div>
            </footer>

            <!-- End of Footer -->

        </div>

        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>